.popup{
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    grid-template-columns: 1fr 32px 430px 32px 1fr;
    grid-template-rows: 1fr 32px 330px 32px 1fr;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
@media screen and (min-width: 320px) and (max-width: 609px) {
    .popup{
        grid-template-columns: 1fr 282px 1fr;
        grid-template-rows: 1fr 20px 322px 20px 1fr;
        gap: 16px;
    }
}