.header{
    max-width: 880px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
}
@media screen and (min-width: 610px) and (max-width: 920px) {
    .header{
        max-width: 580px;
    }
}
@media screen and (min-width: 320px) and (max-width: 609px) {
    .header{
        width: 100%;
    }
}